{% extends 'base.html.twig' %}

{% block title %}Reactagram{% endblock %}

{% block body %}
    <main id="app-container"></main>
    <main id="modal-container"></main>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset( 'css/instagram.css' ) }}" />
    <link rel="stylesheet" href="{{ asset( 'css/bootstrap.css' ) }}" />
    <link rel="stylesheet" href="{{ asset( 'css/main.css' ) }}" />
{% endblock %}

{% block javascripts %}
    <script>
        __REACTAGRAM_CONFIG__ = {
            apiUrl: '{{ url('api_entrypoint') }}/',
            baseUrl: '{{ url( 'main' ) }}',
            basePath: '{{ path( 'main' ) }}',
            picturesUrl: '{{ absolute_url( asset( 'uploads/pictures' ) ) }}/'
        };
    </script>
    <script type="text/javascript" src="{{ asset( 'js/app.bundle.js' ) }}"></script>
{% endblock %}